* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: Poppins, sans-serif;
  color: #333;
}

.light-text {
  color: #eeeeee;
}

.dark-text {
  color: #333;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jc-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.jc-space-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.jc-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  padding: 40px 0;
}

.mrg-1 {
  margin: 10px;
}

.pdd-1 {
  padding: 10px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

div.modal-container {
  position: relative;
  background-color: white;
  border-radius: 0.75rem;
  padding: 40px 20px;
  text-align: center;
}

@media (max-width: 576px) {
  div.modal-container {
    max-width: 90%;
    margin: 1.75rem auto;
  }
}

@media (min-width: 576px) {
  div.modal-container {
    max-width: 500px;
    margin: 1.75rem auto;
  }
}

@media (min-width: 992px) {
  div.modal-container {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  div.modal-container {
    max-width: 1140px;
  }
}

div.smaller-container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

a {
  text-decoration: none !important;
}

button {
  cursor: pointer;
}

a.brand {
  display: block;
}

a.brand-primary {
  font-size: 1.7rem;
}

a.brand-secondary {
  font-size: 1.2rem;
}

h1,
h2,
h3,
h3,
h4,
h5,
h6,
.brand {
  font-family: Righteous, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 80px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 70px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 65px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 60px;
  }
}

h2 {
  font-size: 55px;
}

@media (max-width: 992px) {
  h2 {
    font-size: 45px;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 40px;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 35px;
  }
}

h3 {
  font-size: 35px;
}

@media (max-width: 768px) {
  h3 {
    font-size: 30px;
  }
}

h4 {
  font-size: 25px;
}

.cta-button {
  display: inline-block;
  border: 2px solid #2c3e50;
  border-radius: 5px;
  color: #333;
  font-weight: bold;
  padding: 8px 16px;
  font-size: 16px;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.cta-button:hover {
  color: #eeeeee;
  background-color: #2c3e50;
}

.close-button {
  padding: 0;
  background-color: transparent;
  border: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.hide-overflow {
  overflow: hidden;
}

hr.custom-divider {
  width: 300px;
  margin: 20px auto;
  background-color: #333;
  height: 3px;
  border: none;
}

hr.custom-divider-2 {
  width: 80%;
  max-width: 500px;
  margin: 20px 0;
  background-color: #333;
  height: 3px;
  border: none;
  margin-right: auto;
}

header {
  z-index: 1001;
  background-color: #2c3e50;
  position: fixed;
  width: 100%;
}

header a.brand-primary {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 0px;
  z-index: 1001;
}

header nav.header-nav ul {
  list-style: none;
}

header nav.header-nav ul li a {
  display: block;
  color: #eeeeee;
  font-weight: bold;
}

header nav.header-nav ul.nav-primary li a {
  padding: 20px 0px;
  padding-left: 20px;
}

@media (max-width: 576px) {
  header nav.header-nav {
    display: none;
    text-align: center;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    left: 0;
    z-index: 1000;
    background: #2c3e50;
    overflow: hidden;
  }
}

@media (max-width: 576px) {
  header nav.change.header-nav {
    display: block;
  }
  header nav.change.header-nav ul.change {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 80px;
  }
}

section.primary-content {
  background-color: #43a5e8;
}

section.primary-content div.container {
  padding-top: 120px;
  padding-bottom: 70px;
}

@media (max-width: 768px) {
  section.primary-content div.container {
    padding-top: 100px;
    padding-bottom: 20px;
  }
}

section.primary-content div.container div.introduction {
  color: #333;
}

section.primary-content div.container div.introduction p {
  font-weight: bold;
  font-size: 17px;
}

@media (max-width: 576px) {
  section.primary-content div.container div.introduction p {
    font-weight: normal;
    font-size: 16px;
  }
}

section.primary-content div.container div.introduction p.summary {
  font-size: 16px;
  margin-top: 25px;
  max-width: 500px;
}

section.primary-content div.container div.introduction h2 {
  color: #eeeeee;
}

section.primary-content div.container div.introduction h2 span {
  color: #333;
}

section.primary-content div.container div.introduction ul.nav-socials {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 10px;
}

section.primary-content div.container div.introduction ul.nav-socials li {
  list-style: none;
}

section.primary-content div.container div.introduction ul.nav-socials li a {
  color: #eeeeee;
  font-size: 30px;
  margin-right: 20px;
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

section.primary-content div.container div.introduction ul.nav-socials li a:hover {
  color: #333;
}

section.primary-content div.container div.introduction a.cta-button {
  margin-top: 30px;
}

section.modal-bg {
  display: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.44);
  overflow-y: auto;
}

section.modal-bg div.modal-container button.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 50px;
  color: #43a5e8;
}

section.modal-bg div.modal-container img.modal-main-img {
  width: 80%;
  max-width: 600px;
}

section.modal-bg div.modal-container p.modal-details {
  max-width: 500px;
  margin: 20px auto;
}

section.modal-bg div.modal-container ul#modalToolsUsed {
  font-size: 40px;
}

section.modal-bg div.modal-container ul#modalToolsUsed .noicon {
  font-size: 16px;
  letter-spacing: -1px;
  display: inline-block;
}

section.modal-bg div.modal-container a.cta-button {
  margin: 10px;
  color: #43a5e8;
  border-color: #43a5e8;
}

section.modal-bg div.modal-container a.cta-button:hover {
  background-color: transparent;
  color: #2c3e50;
  border-color: #2c3e50;
}

section.modal-bg.show {
  display: block;
  position: fixed;
  z-index: 10000;
  -webkit-animation-name: modalFadeIn;
          animation-name: modalFadeIn;
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
}

section.modal-bg.closing {
  -webkit-animation-name: modalFadeOut;
          animation-name: modalFadeOut;
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
}

@-webkit-keyframes modalFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes modalFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes modalFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

section.projects-content div.project-container {
  margin-top: 30px;
}

section.projects-content div.project-container div.project-card {
  position: relative;
  cursor: pointer;
  margin: 20px;
}

@media (min-width: 992px) {
  section.projects-content div.project-container div.project-card img {
    width: 340px;
  }
}

@media (max-width: 992px) {
  section.projects-content div.project-container div.project-card img {
    width: 320px;
  }
}

@media (max-width: 768px) {
  section.projects-content div.project-container div.project-card img {
    width: 400px;
  }
}

@media (max-width: 576px) {
  section.projects-content div.project-container div.project-card img {
    width: 100%;
  }
}

section.projects-content div.project-container div.project-card div.project-caption {
  position: absolute;
  background-color: #2c3e50;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  opacity: 0;
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

section.projects-content div.project-container div.project-card div.project-caption:hover {
  opacity: 0.95;
}

section.projects-content div.project-container div.project-card div.project-caption div.info-icon {
  font-size: 50px;
  color: white;
}

section.experience-content div.smaller-container .position-title {
  margin: 20px 0;
}

section.experience-content div.smaller-container p.position-time {
  margin-bottom: 10px;
}

section.experience-content div.smaller-container ul.position-duties {
  padding: 0 20px;
}

section.experience-content div.smaller-container ul.position-duties li {
  padding: 3px 0;
}

@media (max-width: 992px) {
  section.experience-content div.smaller-container ul.position-duties li {
    font-size: 15px;
  }
}

section.about-me {
  background-color: #f3f3f3;
}

section.about-me .container .flex-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  section.about-me .container .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

section.about-me div.about-text {
  margin: 20px 0;
  max-width: 55%;
}

@media (max-width: 768px) {
  section.about-me div.about-text {
    max-width: 90%;
    margin: 20px auto;
  }
}

@media (max-width: 576px) {
  section.about-me div.about-text {
    max-width: 100%;
  }
}

section.about-me div.about-text p {
  line-height: 26px;
  font-size: 18px;
}

@media (max-width: 992px) {
  section.about-me div.about-text p {
    font-size: 16px;
  }
}

section.about-me div.about-text div.skills-icons i {
  font-size: 40px;
  position: relative;
}

@media (max-width: 992px) {
  section.about-me div.about-text div.skills-icons i {
    font-size: 35px;
  }
}

section.about-me div.about-text div.skills-icons i:hover p {
  -webkit-animation: fadeInTooltip 400ms;
          animation: fadeInTooltip 400ms;
  display: block;
}

section.about-me div.about-text div.skills-icons i p {
  z-index: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  pointer-events: auto;
  display: none;
  position: absolute;
  text-align: center;
  top: 90%;
  padding: 8px 16px;
  border-radius: 5px;
  margin: 0 auto;
  border-top: 10px transparent solid;
  border-bottom: 10px transparent solid;
  color: #eeeeee;
  font-family: Poppins, sans-serif;
  background-color: #333;
  font-weight: bold;
}

@-webkit-keyframes fadeInTooltip {
  from {
    top: 130%;
    opacity: 0;
  }
  to {
    top: 90%;
    opacity: 1;
  }
}

@keyframes fadeInTooltip {
  from {
    top: 130%;
    opacity: 0;
  }
  to {
    top: 90%;
    opacity: 1;
  }
}

section.about-me div.profile-pic-container {
  margin: 20px 0;
  text-align: center;
  position: relative;
}

section.about-me div.profile-pic-container img {
  position: relative;
  border-radius: 50%;
  background-color: #2c3e50;
  width: 400px;
}

@media (max-width: 992px) {
  section.about-me div.profile-pic-container img {
    width: 300px;
  }
}

section.contact-me {
  background-color: #43a5e8;
}

section.contact-me ul.nav-socials {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
}

section.contact-me ul.nav-socials li {
  list-style: none;
}

section.contact-me ul.nav-socials li a {
  color: #333;
  font-size: 25px;
  margin: 0 10px;
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

section.contact-me ul.nav-socials li a:hover {
  color: #eeeeee;
}

section.contact-me form {
  margin: 20px 0;
  text-align: center;
}

section.contact-me form button {
  background-color: none;
}

section.contact-me form label {
  font-size: 13px;
  top: -5px;
  left: 0;
  position: absolute;
  pointer-events: none;
}

section.contact-me form input,
section.contact-me form textarea {
  padding: 8px;
  font-size: 16px;
  margin: 10px 0;
}

section.contact-me form div.form-single {
  position: relative;
  margin: 10px 0;
}

section.contact-me form div.form-single input,
section.contact-me form div.form-single textarea {
  width: 100%;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1.5px solid #333333;
}

section.contact-me form div.form-single textarea {
  position: relative;
  border: 1.5px solid #333333;
  border-radius: 5px;
  height: 150px;
}

section.contact-me form div.form-single div.text-area label {
  top: -15px;
}

footer {
  background-color: #2c3e50;
  padding: 20px 0;
  color: #eeeeee;
  font-weight: bold;
}

.hamburger {
  z-index: 10000;
  display: none;
}

@media (max-width: 576px) {
  .hamburger {
    position: absolute;
    top: 15px;
    right: 5%;
    display: block;
    cursor: pointer;
  }
  .hamburger .bar1,
  .hamburger .bar2,
  .hamburger .bar3 {
    pointer-events: none;
    width: 35px;
    height: 5px;
    background-color: #eeeeee;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

.change.hamburger .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change.hamburger .bar2 {
  opacity: 0;
}

.change.hamburger .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
